*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#050505,#1a0d0d,#2b0000);
    color:white;
}

/* NAVBAR */
.top-bar{
    position:fixed;
    top:0;
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.7);
}

.title{
    font-size:2rem;
    font-weight:bold;
}

.left{
    position:absolute;
    left:20px;
}

.nav-buttons{
    position:absolute;
    right:20px;
    display:flex;
    gap:10px;
}

/* BUTTONS */
.btn{
    padding:10px 15px;
    border-radius:10px;
    text-decoration:none;
    color:white;
    display:inline-block;
}

.login{background:#444;}
.signup{background:#b30000;}
.create{background:#ff1e1e;}

.btn:hover{
    transform:scale(1.05);
}

/* CATEGORIES */
.category-bar{
    margin-top:90px;
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.cat{
    padding:10px 15px;
    border-radius:20px;
    background:rgba(255,255,255,0.08);
    color:white;
    text-decoration:none;
}

.cat.active{
    background:#ff1e1e;
}

/* FEED */
.feed-title{
    margin-top:20px;
    text-align:center;
    font-size:1.5rem;
}

#posts{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* POSTS */
.post-card{
    width:60%;
    background:rgba(255,255,255,0.05);
    padding:20px;
    margin:10px;
    border-radius:15px;
}

.actions button{
    margin-right:10px;
    padding:5px 10px;
}
a{
    text-decoration:none;
    color:inherit;
}

/* CONTAINERS */
.register-container,
.login-container{
    width:400px;
    margin:120px auto;
    padding:30px;
    background:rgba(0,0,0,0.5);
    border-radius:15px;
}

/* INPUTS */
.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

input{
    padding:10px;
    border-radius:10px;
    border:none;
    outline:none;
}

/* BUTTONS */
.register-btn,
.login-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#ff1e1e;
    color:white;
    font-weight:bold;
}

/* BACK BUTTON */
.back-btn{
    position:absolute;
    top:20px;
    left:20px;
    padding:10px 15px;
    background:rgba(255,255,255,0.1);
    border-radius:10px;
}
.create-container{
    width:500px;
    margin:120px auto;
    padding:30px;

    background:rgba(0,0,0,0.5);
    border-radius:15px;
}

select, textarea{
    width:100%;
    padding:10px;
    border:none;
    border-radius:10px;
}

textarea{
    min-height:120px;
    resize:none;
}