<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Accueil</a>
            <!-- TODO M4 : afficher selon connecté ou guest -->
            <a href="/post/create">Nouveau post</a>
            <a href="/logout">Déconnexion</a>
        </nav>
    </header>
    <main>
        <h1>Posts</h1>
        <!-- TODO M4 : boucle sur les posts -->
    </main>
</body>
</html>
