<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serie A</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="top-bar">

    <div class="left">
        <a href="post.html" class="btn create">Créer une discussion</a>
    </div>

    <div class="title">Forum Foot</div>

    <div class="nav-buttons">
        <a href="login.html" class="btn login">Se connecter</a>
        <a href="register.html" class="btn signup">S'inscrire</a>
    </div>

</div>

<div class="category-bar">

    <a href="index.html" class="cat">Général</a>
    <a href="ligue1.html" class="cat">Ligue 1</a>
    <a href="premier-league.html" class="cat">Premier League</a>
    <a href="la-liga.html" class="cat">La Liga</a>
    <a href="serie-a.html" class="cat active">Serie A</a>
    <a href="autres.html" class="cat">Autres</a>

</div>

<div class="feed-title">Fil d’actualités - Serie A</div>

<div id="posts"></div>

</body>
</html>